.float-right-index-page{
  display: flex;
  justify-content: flex-end;
}

body{
  overflow-x: hidden; 
}
.navbar-expand-md .navbar-nav{   
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.navbar-nav{
 height: 55px!important;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

@media only screen and(max-width:9991px) {
  .navbar-hover .show>.dropdown-toggle::after {
      transform: rotate(-90deg)
  }
}

@media only screen and (min-width:492px){
  .navbar-hover .collapse ul li {
      position: relative;
  }

  .navbar-hover .collapse ul li:hover>ul {
      display: block
  }

  .navbar-hover .collapse ul ul {
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 100px;
      display: none
  }

  .navbar-hover .collapse ul ul ul {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 200px;
      display: none
  }
  .navbar-nav > li{
      padding-left:3px!important;
      margin-right:3px!important;
  }
  .vertical-menu a {
  background-color: #fff;
  color: #000;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: red;
  color: #fff;
}
.vertical-menu a.active {
  background-color: red;
  color: #fff;
}
}

/* for hover */

@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

/* body {
background-color:#222;
} */

.wrapper {
display: block;
position: absolute;
top: 50%;
left:50%;
-webkit-transform: translate(-50%,-50%);
}

h1 a {
color: black;
font-size: 40px;
text-decoration: none;
display: inline-block;
position: relative;
font-family: 'Dosis', sans-serif;
}

/*effect-underline*/
a.effect-underline:after {
content: '';
position: absolute;
left: 0;
display: inline-block;
height: 1em;
width: 100%;
border-bottom: 1px solid;
margin-top: 10px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: scale(0,1);
transform: scale(0,1);
}

a.effect-underline:hover:after {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}

/*effect-box*/
a.effect-box:after,
a.effect-box:before {
content: '';
position: absolute;
left: 0;
display: inline-block;
height: 1em;
width: 100%;
margin-top: 10px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;

}

a.effect-box:before {
border-left: 1px solid;
border-right: 1px solid;
-webkit-transform: scale(1,0);
transform: scale(1,0);
}

a.effect-box:after {
border-bottom: 1px solid;
border-top: 1px solid;
-webkit-transform: scale(0,1);
transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
}

/* effect-shine */
a.effect-shine:hover {
-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
-webkit-mask-size: 200%;
animation: shine 2s infinite;
}

@-webkit-keyframes shine {
from {
  -webkit-mask-position: 150%;
}

to {
  -webkit-mask-position: -50%;
}
}
h1 .effect-shine:hover{
  color:#dc3545 !important;

}
.forelecc{
      height: 255px !important;
      width: 260px;
}

/* home page */

@media only screen and (min-width: 320px) and (max-width: 767px){
.featured>.c>.u>.c, .featured>.c>.st>.c{
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  -webkit-overflow-scrolling: touch !important;
}
.featured>.c>.u>.c>a{
  margin: 8px 10px;
width: auto;
max-width: 270px;
}
.featured>.c>.u>.c::after{
  content: '';
border-right: 1px solid transparent;
}
.dlg_toggle::-webkit-scrollbar, #pageTabBar::-webkit-scrollbar, .pagetab::-webkit-scrollbar, #tabmenu::-webkit-scrollbar, .vpagetab::-webkit-scrollbar, .featured>.c>.h2::-webkit-scrollbar, .featured>.c>.u>.c::-webkit-scrollbar, .featured>.c>.st>.c::-webkit-scrollbar, .it>div:first-child::-webkit-scrollbar, #dlgLangSel .bar::-webkit-scrollbar, .story .coll>.c>.h2::-webkit-scrollbar, .menustrip::-webkit-scrollbar, .rev_sugg::-webkit-scrollbar{
  display: none;
}
}
.featured>.c>.s, .featured>.c>.u{
margin: 12px 0;
padding: 8px 0;
}
.featured>.c>.s>a, .featured>.c>.u>a{
font-size: 19px;
font-weight: bold;
color: #333;
display: block !important;
height: auto;
margin-bottom: 6px;
transition: color .2s,background-color .2s;
}
.featured>.c>.s>.c, .featured>.c>.u>.c{
display: flex;
overflow: hidden;
flex-wrap: wrap;
justify-content: space-between;
}
.featured>.c>.u>.c>a{
display: inline-block;
width: 110px;
margin: 8px 4px;
text-align: center;
transition: all 0.2s;
}
.featured>.c>.u>.c>a>img{
width: 110px;
height: 110px;
margin-bottom: 6px;
border-radius: 16px;
box-shadow: 0 0 3px 3px rgb(200 200 200 / 20%);
}
.featured>.c>.s>a:after, .featured>.c>.u>a:after{
display: inline-block;
width: 8px;
height: 8px;
margin: 0 0 0 6px;
content: '';
border-top: 2px solid #c2c2c2;
border-right: 2px solid #c2c2c2;
transition: all .2s;
transform: rotate(45deg);
}
.featured .c .s a:hover, .featured .c .u a:hover{
text-decoration: none;
-webkit-filter: brightness(110%);
}
.featured>.c>.s>a:hover, .featured>.c>.u>a:hover{
color: #0c72ea;
}
.featured>.c>.st{
padding: 30px 0 8px;
}
.featured>.c>.st>.c{
display: flex;
overflow: hidden;
flex-wrap: wrap;
justify-content: space-between;
}
.featured>.c>.st>.c>a{
display: flex;
align-items: center;
position: relative;
transition: all 0.2s;
}
a, a:visited{
color: #222;
text-decoration: none;
transition: color .2s,background-color .2s;
}
.featured>.c>.s, .featured>.c>.u{
margin: 12px 0;
padding: 8px 0;
}
.featured>.c>.s>.c, .featured>.c>.u>.c{
display: flex;
overflow: hidden;
flex-wrap: wrap;
justify-content: space-between;
}
.featured .c>.s>.c>a{
position: relative;
display: inline-block;
width: 174px;
margin: 8px 0;
text-align: left;
vertical-align: top;
transition: color .2s,background-color .2s;
-webkit-transition: -webkit-filter 200ms linear;
}
.gl a img[src], .dlrel img[src], .featured .c>a>img[src], .dl td.r img[src]{
visibility: visible;
}
.featured .c .s a>img{
width: 174px;
height: 165px;
border-radius: 8px;
transition: all 0.2s;
object-fit: cover;
}
.stars{
font-size: var(--size);
display: inline-block;
align-items: center;
--percent: calc(var(--rating) / 5 * 10%);
--px: calc(var(--rating) / 10 * var(--size) + var(--ratingfloor) * (var(--size) * 0.1875));
margin-right: calc(var(--size) * 0.1875 * -1);
line-height: 1;
}
.stars::before{
  content: "★★★★★";
  letter-spacing: calc(var(--size) * 0.1875);
  background-clip: text;
}


